# =========================
# APP
# =========================
APP_NAME="Solvia Admin"
APP_URL=http://localhost:4000
PORT=4000
NODE_ENV=development
CORS_ORIGINS=http://localhost:3000

# =========================
# DATABASE (PRISMA DIRECT ACCESS)
# =========================
DATABASE_DIRECT_URL="postgresql://solvia:solvia_password@localhost:5432/solvia_admin?schema=public"
DATABASE_URL="postgresql://solvia:solvia_password@localhost:5432/solvia_admin?schema=public"

# =========================
# THROTTLE (GLOBAL)
# =========================
THROTTLE_RATE_LIMIT_TTL=60000
THROTTLE_RATE_LIMIT_MAX=100

# =========================
# REDIS
# =========================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# =========================
# JWT
# =========================
JWT_SECRET=super-secret-key
JWT_ISSUER=solvia-admin
JWT_ACCESS_TOKEN_EXPIRATION=15m
JWT_REFRESH_TOKEN_EXPIRATION=30d

# =========================
# AUTH SECURITY POLICY
# =========================
AUTH_MAX_LOGIN_ATTEMPTS=10
AUTH_LOGIN_WINDOW_SECONDS=900

# token blacklist lifetime (30 jours)
AUTH_TOKEN_BLACKLIST_TTL_SECONDS=2678400

# cache session TTL (5 minutes)
AUTH_SESSION_CACHE_TTL_SECONDS=300

# refresh token lifetime (days)
AUTH_REFRESH_TOKEN_DAYS=30